<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="url" value="https://logs.loggly.com/inputs/f989788a-7f65-4bcd-97c1-c3f1bf8841d1" />
    <add key="logNames" value="Application;Security;System" />
    <add key="excludeEventIds" value="4672;4648;4634;4624;5061;5058"/>
  </appSettings>
</configuration>